@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin border-1px {
  border: 1px solid $border;
}

@mixin border-2px {
  border: 2px solid $border;
}