// color
$border: #BDBDBD;
$text-gray: #828282;
$bg-color: #F2F2F2;

// font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
$font13: 13px;
$font16: 16px;
$font14: 14px;